.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-left: 50px;
  margin-bottom: 5px;
}



.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  padding-left: 400px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif,fantasy;
  font-style: italic;
  font-size: 2em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.textCards{
  background-color: rgb(139, 139, 243);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.card {
  width: 18rem;
}
